:root {
    --primary: #d6248c;
    --text: #000000;
    --text-light: #474747;
    --secondary: #0b7dae;
    --white: #ffffff;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    min-height: 100vh;
    font-family: ‘Poppins’, sans-serif;
    font-size: 12px;
    background-color: var(--white);
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__nav {
    margin: 0 200px;  
}
.container__main {
    margin: 30px 200px;
    display: flex;
    justify-content:center ;
}



/* Header */
.header {
    background-color: var(--primary);
}

.header__nav {
    padding: 10px;
    height: 50px;
}

.header__nav_logo {
    margin-right: auto;
}

.header__nav_logo:hover {
    scale: .97;
    transition: all 0.5s;
}

.header__nav_link {
    color: var(--white);
    font-weight: 500;
    font-size: 1.33em;
    text-decoration: none;
    padding: 10px;
}

.header__nav_link:hover, .header__nav_link:focus {
    font-weight: 400;
    font-size: 1.3em;
    text-decoration: underline solid 2px var(--white);
    transition: all 0.5s;
}
h1{
    color: var(--primary);
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

h2{
    color: var(--secondary);
    font-weight: 700;
    font-size: 1.83em;
}

h3{
    font-weight: 600;
    font-size: 1.66em;
    color: var(--primary);
    margin-bottom: 0;
}

h4{
    font-weight: 500;
    font-size: 1.5em; 
    color: var(--secondary); 
    margin-bottom: 0;
}
p{
    font-weight: 400;
    font-size: 1.16em;
}

.article__references_link{
    font-weight: 300;
    font-size: 1em;
    color: var(--text-light);
    padding: 2px 0;   
}

.main__img{
    width: 60%;
    height: auto;
    margin: 5px auto;
}
            
/* Footer */
.footer {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 400;
    font-size: 1.16em;
    padding: 20px;
}

/* Media Queries*/
@media screen and (max-width: 1020px) {
    .container__nav {
        margin: 5px 20px 0;
    }

    .header__img {
        display: none;
    } 

    .header__nav {
        display: block;
        height: auto;
    }

    .header__nav_logo {
        margin-right: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-bottom: dotted 5px var(--white);
        border-top: dotted 5px var(--white);
    }

    .header__nav_logo > img {
        width: 100px;
        height: auto;
    }

    .header__nav_links {
        padding: 20px 0 10px 0;
        margin: 0 auto;
        text-align: center;
    }

    .header__nav_link {
        font-size: 1.16em;
        padding: 5px;
    }

    .header__nav_link:hover, .header__nav_link:focus  {
        font-weight: 400;
        font-size: 1.083em;
        text-decoration: underline solid 2px var(--white);
    
    }
    h2, h3, h4{
        text-align: center;

    }
    .main__img{
        width: 100%;
        margin: 5px auto;
    }
    .container__main{
        margin: 10px 100px;
    }

}

@media screen and (max-width: 480px) {
    .header__nav_logo > img {
        width: 75px;
        height: auto;
    }
    
    .header__nav_links {
        padding: 10px 50px 0 50px;
        display: flex;
        flex-direction: column;
    }
    
    .footer {
        font-size: 1em;
        text-align: center;
    }
    .container__main{
        margin: 10px 30px;
    }
}


